body {
  width: 87%;
  margin: 0 auto;
  font-size: 18px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.brand-logo {
  font-size: 22px;
  font-weight: bold;
}

.red {
  color:rgb(161, 18, 18);
}

nav ul {
  width: 25%;
  display: flex;
  justify-content: space-around;
}

nav li {
  list-style-type: none;
  padding: 8px 10px;
  color: grey
}

nav a {
  color: grey;
  text-decoration: none;
}

.fa-bars {
  display: none;
}

.register {
  border: 1px solid rgb(161, 18, 18);
  border-radius: 5px;
  color: rgb(161, 18, 18);
}

.intro-text {
  text-align: center;
  margin: 90px 0 80px;
  color: rgb(94, 92, 92);
}

h1 {
  font-size: 42px;
  margin-bottom: 12px;
}

.intro-text p {
  font-size: 22px;
  margin: 12px;
}

h2 {
  font-size: 21px;
}

.select-location select {
  width: 100%;
  padding: 0.8em 1em;
  font-size: 20px;
  color: rgb(94, 92, 92);
  margin-bottom: 24px;
}

#interests {
  display: flex;
  justify-content: space-between;
}

#interests div {
  border: 1px solid rgb(214, 207, 207);
  border-radius: 5px;
  padding: 1.5em;
  margin: 0 0.2em 0 0.5em;
}

#interests h4 {
  color: rgb(161, 18, 18);
  margin: 8px 0 0;
}

#interests p {
  font-size: 16px;
}

#interests div:first-of-type {
  margin-left: 0;
}

#interests div:last-of-type {
  margin-right: 0;
}

#service {
  margin-top: 120px;
}

#service h2 {
  text-align: center;
  font-size: 36px;
  color:rgb(94, 92, 92);
}

#steps {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

#steps h4 {
  margin-bottom: 12px;
}

#steps div {
  text-align: center;
  width: 325px;
  font-size: 22px;
  color:rgb(94, 92, 92);
}

footer {
  padding: 30px;
  margin: 5em 0 6em;
  color: rgb(94, 92, 92);
}

footer div:first-of-type {
  text-align: center;
}

.sm-block {
  display: flex;
  column-gap: 25px;
  justify-content: center;
  margin: 1.5em 0 2.5em;
}

.sm-icon {
  color: rgb(161, 18, 18);
  font-size: 22px;
}

.copyright {
  display: flex;
  justify-content: space-between;
}

.cart {
  padding: 1.5em 0 5em;
}

.cart h2 {
  margin-top: 30px;
}

.disabled {
  font-size: 16px;
  color: rgb(179, 176, 176);
}

.cartItem-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.remove-icon {
  width: 65px;
  color: grey;
  font-weight: 200;
}

.icon {
  font-size: 38px;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  border-bottom: 1px solid grey;
  width: 100%;
}

.cartItem-info {
  display: flex;
  align-items: center;
}

.cartItem-info div,
.ml {
  margin-left: 20px;
}

.quantity-block {
  display: flex;
  align-items: center;
  color: rgb(161, 18, 18);
}

.quantity {
  padding: 0 18px;
  font-size: 30px;
  line-height: 30px;
}

.price {
  font-size: 28px;
}

.delivery-total {
  margin: 0 0 3em 55px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  font-weight: bold;
  padding: 0 15px;
}

.checkout-div {
  width: 60%;
  margin: 0 auto;
}

.checkout-div button {
  width: 100%;
  font-size: 22px;
  color: #fff;
  background-color: rgb(161, 18, 18);
  border: none;
  padding: 17px 0;
  border-radius: 5px;
}

@media screen and (max-width: 1024px) {
  #interests div {
    padding: 1.2em 0.8em;
  }

  #service {
    font-size: 24px;
  }

  #steps div {
    width: 250px;
  }

  #steps img {
    width: 250px;
  }
}

@media screen and (max-width: 920px) {
  nav ul {
    width: 35%;
  }

  #interests div {
    width: 45%;
  }

  .copyright {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    text-align: center;
  }

}

@media screen and (max-width: 768px ) {
  nav ul {
    width: 55%;
  }

  #steps {
    flex-direction: column;
    align-items: center;
  }

  #steps div {
    width: 90%;
  }

  .cartItem {
    align-items: flex-end;
  }

  .cartItem-info {
    flex-direction: column;
  }

  .cartItem-info img {
    width: 200px;
  }

}

@media screen and (max-width: 450px ) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-sm {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .fa-bars {
    display: block;
    color:rgb(161, 18, 18);
  }

  nav ul {
    display: block;
    padding-left: 12px;
    width: 100%;
    padding-bottom: 20px;
  }

  .register {
    width: fit-content;
  }

  .hide {
    display: none;
  }

  .line {
    border-bottom: 1px solid rgb(161, 18, 18);
  }

  .intro-text {
    margin: 50px 0 60px;
  }

  .intro-text p {
    font-size: 18px;
  }

  .select-location select {
    font-size: 18px;
  }

  #interests {
    flex-direction: column;
    row-gap: 25px;
  }

  #interests div {
    width: 90%;
    margin: 0;
  }

  #service {
    font-size: 18px;
  }

  footer {
    margin: 3em 0;
  }

  .cartItem-info img {
    width: 180px;
  }
}